* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  color: #ffffff;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.photo__galery {
  width: min(90%, 40.5rem);
  margin-top: 2em;
  margin-inline: auto;
}

.filter__area {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2em;
  gap: 1em;
}

.filter__btn {
  padding: 1em 2em;
  cursor: pointer;
  color: #262626;
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.filter__btn.disabled__btn {
  outline: 1px solid #ffffff;
  background-color: #262626;
  color: #fff;
}

.img__area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.disabled {
  display: none;
}

@media screen and (max-width: 625px) {
  .filter__area {
    grid-template-columns: 1fr;
  }

  .img__area {
    grid-template-columns: 1fr 1fr;
  }
}
